.effectInputUl .effectInputLi{
    margin: 5px 0;
}
.effectInputUl .effectInputLi .split{
    display: inline-block;
    padding: 0 10px;
    font: normal 12px/35px "microsoft yahei";
    overflow:hidden;
}

.effectInputUl .title , .effectInputUl .unit{
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom:1;
    height: 35px;
    width: 60px;
    text-align: right;
    font: normal 12px/35px "microsoft yahei";
    overflow: hidden;
}

.effectInputUl .unit {
    padding-left:8px;
    text-align: left;
}

.effectInputUl .title b{
    float: right;
    display: inline-block;
    *display: inline;
    *zoom:1;
    color: red;
    padding: 3px 5px;
    _padding:2px 5px;
}
.effectInputUl .wrap{
    position:relative;/*placeholder pwd*/
    display: inline-block;
    *display: inline;
    *zoom:1;
    height: 35px;
    width: 260px;
    /*background: white;*/
    /*background: url(i/input-ued.png);*/
}

.effectInputUl .wrapTextarea{
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom:1;
}

.effectInputUl .wrapTextarea textarea{
    height: 100px;
    padding:5px 20px 0 8px;
    width: 230px;
    outline:none;
    border:1px solid #adadad;
    resize:none;
    border-radius: 4px;
    overflow-y:hidden;
    box-shadow:2px 2px 10px #aaaaaa;
}

.effectInputUl .wrap input{
    position: absolute;
    top:0;
    left:0;
    height: 35px;
    /*width: 232px;
    margin-left: 8px;*/
    /*margin-top: 1px;*/
    _line-height: 35px;
    /*border: none;*/
    outline: none;
    /*background: url(i/input-ued.png) -8px -1px;*/
    padding:0 20px 0 8px;
    width: 230px;
    border:1px solid #adadad;
    border-radius: 4px;
    box-shadow:2px 2px 10px #aaaaaa;
}

.fixie6placeholder{
    position:absolute;
    height:37px;
    line-height:37px;
    top:0;
    left:8px;
    cursor: text;
}
.effectInputUl .span-blue {
    /*background: url(i/input-ued.png) 0px -35px;*/
}

.effectInputUl .span-blue textarea {
    border: solid 1px #79ccf2;
}

.effectInputUl .span-blue input {
    /*background: url(i/input-ued.png) -8px -36px;*/
    border: solid 1px #79ccf2;
}


.effectInputUl .span-black {
    /*background: url(i/input-ued.png) 0px -70px;*/
}

.effectInputUl .span-black textarea {
    border: solid 1px black;
}

.effectInputUl .span-black input {
    /*background: url(i/input-ued.png) -8px -71px;*/
    border: solid 1px black;
}


.effectInputUl .span-red {
    /*background: url(i/input-ued.png) 0px -105px;*/
}

.effectInputUl .span-red textarea{
    border: solid 1px red;
}

.effectInputUl .span-red input {
    /*background: url(i/input-ued.png) -8px -106px;*/
    border: solid 1px red;
}

.effectNotice{
    color: #adadad;
    font: normal 12px/15px "microsoft yahei";
    padding: 5px 8px;
}




.inputTipSpan {
    position: absolute;
    left: 260px;
    top: 3px;
    width: 240px;
    z-index:1;
    display: none;
}

/*.inputTipSpan .arrow {
    background: url(i/input-ued.png) 0px -210px;
    width: 7px;
    height: 11px;
    display: inline-block;
    float: left;
    margin-top: 8px;
    position: absolute;
}*/

.inputTipSpan .arrow{
    display: block;
    position: absolute;
    top: 5px;
    border-color: transparent black;
    border-style: solid;
    border-width: 8px 8px 8px 0;
    padding: 0;
    width: 0;
    height: 0;
    /* ie6 height fix */
    font-size: 0;
    line-height: 0;
    /* ie6 transparent fix */
    _border-top-color: white;
    _border-bottom-color: white;
    _filter: chroma( color = white);
}
.inputTipSpan em {
    color: white;
    background: black;
    display: inline-block;
    padding: 4px 10px;
    position: absolute;
    left: 7px;
    border-radius: 4px;
    font:normal 12px/20px "microsoft yahei";
}
.inputTipIcon {
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 5px;
    top: 10px;
    float: left;
    overflow: hidden;
}
.inputTipWarnIcon {
    background: url(i/input-ued.png) 0px -225px;
}
.inputTipErrorIcon {
    background: url(i/input-ued.png) 0px -240px;
}
.inputTipPassIcon {
    background: url(i/input-ued.png) 0px -255px;
}
.inputTipLoadingIcon{
    width: 16px;
    height: 16px;
    background: url(i/loading.gif);
}
