.clearfix:after {
    display: block;
    clear: both;
    height: 0;
    content: ".";
    visibility: hidden;
}
*html.clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
html {
    height: 100%;
    overflow: hidden;
    width: 100%;
    font: normal 12px/1.5 "microsoft yahei";
}
body {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    _position: static;
    width: 100%;
}
html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, p, th, td, figure, font a{
    margin: 0;
    padding: 0;
    font: normal 12px/1.5 "microsoft yahei";
    color:#999;
    outline: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.hide {
    display: none!important;
}
input  {
    outline: none;
}
ul li {
    list-style: none;
}
.left{
    float:left
}
.right{
    float:right;
}
.red{
    color:red;
}

/**btn**/
.mui-normal-btn{
    float:left;
    display:block;
    width:60px;
    height:30px;
    background: #c9033b;
    border:1px solid #c9033b;
    text-align: center;
    border-radius: 4px;
    box-shadow: #DDD 0 1px 1px;
    font: normal 12px/30px "microsoft yahei";
    color: white;
}
.mui-normal-btn:hover{
    background: #c00036;
    color: white;
}

.mui-input {
    width:200px;
}
.mui-input input{
    width:95%;
    height:30px;
    padding-left:8px;
    outline: none;
    font:normal 12px/30px "microsft yahei";
}
.mui-input .error{
    border: 1px solid #c9033b;
}
.mui-input p{
    color:#c9033b;
    font:normal 12px/15px "microsft yahei";
}
.mui-btn{
    float:left;
    display: block;
    width:100px;
    font:normal 12px/30px "microsft yahei";
    color:white;
    background: #c9033b;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
.mui-btn:hover{
    color: white;
}

.mb10 { margin-bottom: 10px; }
.tc { text-align: center; }
