@charset "utf-8";
/**
 * @Description 已录制习题详情分享
 * @Author Feil.Wang
 * @E-mail wangfeilong@xuexibao.cn
 * @Date 2015.06.19
 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote { margin: 0; padding: 0; -webkit-text-size-adjust: none; font-family: inherit; }
*, *:before, *:after { box-sizing: border-box; -webkit-box-sizing: border-box; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
input::-moz-focus-inner { border: 0; padding: 0; }
input { -webkit-border-radius: 0; border-radius: 0; }
fieldset, img { border: 0 none }
img { vertical-align: middle; max-width: 100%; }
br { letter-spacing: normal }
address, caption, cite, code, dfn, em, strong, var, optgroup { font-style: normal; font-weight: normal }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
h3 { font-size: 14px }
abbr, acronym { border: 0; font-variant: normal }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit }
code, kbd, samp, tt { font-size: 100% }
input, button, textarea, select { *font-size: 100% }
dl, ul, ol, ul { list-style: none; padding: 0; margin: 0; }
table td { line-height: 20px }
sup, sub { font-family: "Arial", "Helvetica", sans-serif; font-size: 11px }
:link, :visited, ins { text-decoration: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: none }
body { font-size: 14px; line-height: 24px; font-family: Microsoft YaHei, Arial, Verdana, Helvetica, sans-serif; }
tt { font-style: italic; font-size: 16px }
hr { clear: both }
pre { white-space: pre-wrap; }
/*jyeoo*/
.pt0 { padding: 2px 0 5px 0; font-size: 14px; font-weight: 700; }
.pt2 { margin: 0; padding: 10px 5px; }
.pt3, .pt4, .pt5, .pt6, .pt7 { clear: both; overflow: hidden; zoom: 1; position: relative; }
.pt3 { margin-top: 10px; }
.pt8 a:link, .pt8 a:visited { margin-right: 10px; padding: 2px 5px; }
.pt8 a:hover { background: #fc0; }
.pt9 { text-align: right; border: 0 none; }
.pt1 { overflow: hidden; zoom: 1; clear: both; line-height: 25px; }
.pt1 img { position: relative; }
.MathXxb { border: 0 none; direction: ltr; line-height: normal; display: inline-block; float: none; font-size: 15px; font-style: normal; font-weight: normal; letter-spacing: 1px; margin: 0; padding: 0; text-align: left; text-indent: 0; text-transform: none; white-space: nowrap; word-spacing: normal; word-wrap: normal; -webkit-text-size-adjust: none; }
.MathXxb div, .MathJye span { border: 0 none; margin: 0; padding: 0; line-height: normal; text-align: left; height: auto; _height: auto; white-space: normal; }
.MathXxb table { border-collapse: collapse; margin: 0; padding: 0; text-align: center; vertical-align: middle; line-height: normal; font-size: inherit; *font-size: 100%; _font-size: 100%; font-style: normal; font-weight: normal; border: 0; float: none; display: inline-block; *display: inline; zoom: 0; }
.MathXxb table td { padding: 0; font-size: inherit; line-height: normal; white-space: nowrap; border: 0 none; width: auto; _height: auto; }
.MathXxb_mi { font-style: italic; }
/*ks5u*/
.deText { word-break: break-all; }
/*manfen5*/
.xxb_manfen { word-break: break-all; }
/*mofangge*/
.ke-zeroborder { width: 100%; }
table[width='650'] { width: auto; }
.qa-content *, .qa-content *:before, .qa-content *:after { box-sizing: content-box; -webkit-box-sizing: content-box; }
/*************************************/
body { background-color: #f7f7f7; color: #333; font-size: 13px; font-family: Arial; line-height: 1; }
.clearfix:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { *zoom: 1; }
.clear { clear: both; height: 0; overflow: hidden; }
.hide { display: none; }
.show { display: block; }
.appdl-hd { position: fixed; left: 0; top: 0; width: 100%; padding: 8px 10px; background-color: #ededed; border-bottom: 1px solid #dcdcdc; z-index: 9; }
.appdl-hd .logo { width: 45px; height: 45px; float: left; }
.appdl-hd .logo img { width: 100%; height: 100%; vertical-align: middle; }
.appdl-hd .app-name { float: left; margin: 16px 0 0 10px; font-size: 12px; }
.appdl-hd .btn-dl { float: right; display: inline-block; width: 65px; height: 27px; line-height: 27px; background-color: #f96062; color: #fff; text-align: center; font-size: 12px; margin: 9px 0; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
.panel { padding: 72px 10px 0; }
.section { padding: 10px; background: #fff; }
.qa-item { margin-bottom: 10px; }
.qa-item + .qa-item { padding-top: 10px; }
.qa-hd { margin-bottom: 15px; color: #aeaeae; height: 20px; line-height: 20px; font-size: 15px; }
.qa-hd .icon { width: 20px; height: 20px; }
.qa-hd .title { vertical-align: middle; font-weight: bold; margin-left: 2px; }
.qa-hd .subject { vertical-align: middle; }
.qa-bd { line-height: 24px; padding-left: 25px; }
.qa-content { overflow: hidden; }
.question-cnt { height: 72px; }
.question-cnt.more { height: auto; }
.icon { display: inline-block; vertical-align: middle; background: url(../../images/qa-detail.png) no-repeat; background-size: 20px auto; }
.icon-doc { background-position: 0 0; }
.icon-light { background-position: 0 -20px; }
.icon-star { background-position: 0 -40px; }
.icon-arrow { width: 15px; height: 8px; background-position: 0 -60px; }
.fold { height: 24px; line-height: 24px; text-align: center; font-size: 12px; color: #78c5ff; }
.fold:active { background-color: #f7f7f7; }
.unfold .icon-arrow { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.fold > span { margin-left: 5px; }
.audio-explain { border-bottom: 1px solid #ebebeb; padding-bottom: 10px; margin-bottom: 10px; }
.course-info { }
.play-btn-sm { width: 24px; height: 24px; display: inline-block; padding: 6px 0 6px 8px; line-height: 0; border-radius: 22px; -webkit-border-radius: 22px; border: 1px solid #73c2fd; }
.play-btn-sm .icon { width: 9px; height: 10px; background-position: 0 -70px; }
.play-btn-sm:active { background-color: #73c2fd; }
.play-btn-sm:active .icon { background-position: right -70px; }
.teacher-name { color: #0091ff; font-size: 12px; vertical-align: middle; margin-left: 10px; }
.course-type { color: #666; vertical-align: middle; margin-left: 10px; font-size: 10px; }
/*************/
.masker-loading { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 999; background-color: #f2f2f2; }
.masker-loading:after { content: ''; position: absolute; width: 30px; height: 30px; left: 50%; top: 50%; background: url(../../images/loading@2x.png) no-repeat; background-size: contain; margin-left: -15px; margin-top: -15px;
    -webkit-transform: rotate(360deg);
    -webkit-animation-name: spin;
    -webkit-animation-duration: .6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    transform: rotate(360deg);
    animation-name: spin;
    animation-duration: .6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.play-ani { display: none; width: 24px; height: 24px; background: url("../../images/playing-animate.gif") no-repeat center center; vertical-align: middle; background-size: cover; }
.play-ani.play-ani-pasue { background: url("../../images/playing-animate-pasue.png") no-repeat center center; background-size: cover; }
.audio-player { padding-left: 10px; }
.audio-player { width: 100%; height: 42px; font-size: 12px; position: relative; }
.audio-player audio { position: absolute; left: -1px; }
.audio-player .player-left { margin-right: 50px; padding-top: 14px; }
.audio-player .play-pause { position: absolute; right: 0; top: 0; width: 32px; height: 32px; overflow: hidden; background-color: #87cbfe; border-radius: 32px; -webkit-border-radius: 32px; }
.audio-player .play-pause:active { background-color: #0091ff; }
.audio-player p { display: none; width: 32px; height: 32px; cursor: pointer; background: url("../../images/icon-player.png") no-repeat; background-size: 32px auto; }
.audio-player .play { display: block; }
.audio-player .scrubber { position: relative; width: 100%; background-color: #ebebeb; height: 4px; border-radius: 4px; -webkit-border-radius: 4px; }
.audio-player .progress { position: absolute; top: 0; left: 0; height: 4px; width: 0; background: #87cbfe; z-index: 1; border-radius: 4px; -webkit-border-radius: 4px; }
.audio-player .progress:after { position: absolute; right: -5px; top: -3px; content: ''; display: block; width: 10px; height: 10px; background-color: #87cbfe; border-radius: 10px; -webkit-border-radius: 10px; }
.audio-player .loaded { position: absolute; top: 0; left: 0; height: 4px; width: 0; background: #c5e6ff; border-radius: 4px; -webkit-border-radius: 4px; }
.audio-player .time { color: #78c5ff; margin-top: 5px; }
.audio-player .time em { padding: 0 2px 0 0; font-style: normal; }
.audio-player .time strong { padding: 0 0 0 2px; font-weight: normal; }
.audio-player .error-message { display: none; margin-top: 5px; overflow: hidden; white-space: nowrap; color: red;
    text-overflow: ellipsis; -o-text-overflow: ellipsis; -moz-text-overflow: ellipsis; -webkit-text-overflow: ellipsis; }
.audio-player .error-message a { color: #eee; text-decoration: none; }
.audio-player .play { background-position: 0 0; }
.audio-player .loading { background-position: 0 -64px;
    -webkit-transform: rotate(360deg);
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    transform: rotate(360deg);
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
.audio-player .error { }
.audio-player .pause { background-position: 0 -32px; }
.playing .play, .playing .loading, .playing .error { display: none; }
.playing .pause { display: block; }
.loading .play, .loading .pause, .loading .error { display: none; }
.loading .loading { display: block; }
.error .time, .error .play, .error .pause, .error .loading { display: none; }
.error .error { display: block; }
.error .play-pause p { cursor: auto; }
.error .error-message { display: block; }