@charset "utf-8";
/*! Created by Feil.Wang(wangfeilong@xuexibao.cn) on 2015/8/17. */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, input, button, select, textarea, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; font-style: normal; vertical-align: baseline; outline: none; -webkit-text-size-adjust: none; }
*, *:before, *:after { box-sizing: border-box; -webkit-box-sizing: border-box; }
article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
input::-moz-focus-inner { border: 0; padding: 0; }
input { -webkit-border-radius: 0; border-radius: 0; }
h1 { font-size: 20px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
a { color: #333; text-decoration: none; }
* { -webkit-tap-highlight-color: transparent; }
body { background-color: #fff; color: #333; font-size: 14px; font-family: Arial; line-height: 1; }
.clearfix:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { *zoom: 1; }
.clear { clear: both; height: 0; overflow: hidden; }
.hide { display: none !important; }
.show { display: block !important; }
.pull-left { float: left; }
.pull-right { float: right; }
.page { padding: 10px 10px 70px; }
.dy-main { border-bottom: 1px solid #d5f6ee; padding-bottom: 18px; }
.section { position: relative; }
.dy-avatar { position: absolute; left: 0; }
.dy-avatar img { width: 45px; height: 45px; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }
.dy-body { margin-left: 55px; }
.dy-hd { padding-top: 5px; overflow: hidden; }
.icon { display: inline-block; vertical-align: middle; background: url(../../images/sprite@2x.png?t=5) no-repeat; background-size: 65px auto; }
.icon-sex { float: left; width: 16px; height: 16px; }
.icon-male { background-position: 0 0; }
.icon-female { background-position: -16px 0; }
.user-name { float: left; margin-right: 5px; color: #000; height: 16px; line-height: 16px; font-size: 15px; }
.dy-time { float: right; color: #c1c1c1; font-size: 12px; }
.dy-info { overflow: hidden; margin: 10px 0; }
.dy-age { float: left; color: #00c698; margin-top: 1px; margin-right: 5px; }
.dy-star { float: left; width: 90px; height: 16px; background: url("../../images/icon-stars.png") no-repeat; background-size: 90px auto; }
.dy-star-0 { background-position: 0 0; }
.dy-star-1 { background-position: 0 -16px; }
.dy-star-2 { background-position: 0 -32px; }
.dy-star-3 { background-position: 0 -48px; }
.dy-star-4 { background-position: 0 -64px; }
.dy-star-5 { background-position: 0 -80px; }
.dy-grade { font-weight: bold; }
.dy-bd { margin-top: 6px; }
.dy-content { line-height: 22px; }
.img-single { max-height: 150px; max-width: 150px; }
.dy-image { margin-top: 5px; overflow: hidden; }
.dy-img-clip { float: left; width: 50px; height: 50px; margin-right: 10px; }
.dy-img-clip img { width: 100%; height: 100%; }
.dy-interact { overflow: hidden; margin-top: 12px; }
.dy-interact .icon { margin-right: 3px; }
.dy-interact span { vertical-align: middle; font-size: 12px; }
.dy-up { color: #f98181; float: right; }
.dy-reply { color: #00c698; float: right; margin-left: 25px; }
.icon-up { width: 14px; height: 14px; background-position: -47px -58px; }
.icon-reply { width: 14px; height: 12px; background-position: 0 -58px; }
.dy-rep { }
.dy-rep .dy-bd { margin-top: 15px; }
.dy-rep .section { padding: 10px 0 0; }
.dy-rep .section:after { display: block; content: ''; margin-left: 23px; height: 0; line-height: 0; overflow: hidden; clear: both; border-bottom: 1px solid #d5f6ee; margin-top: 10px; }
.dy-rep-img { margin-top: 5px; }
.dl-bar { height: 60px; position: fixed; left: 0; bottom: 0; right: 0; background-color: rgba(255, 255, 255, .5); padding: 10px 25px; }
.btn-dl { display: block; text-align: center; color: #fff; font-size: 15px; height: 40px; line-height: 40px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color: #0091ff; }
.masker-loading { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 999; background-color: #f2f2f2; }
.masker-loading:after { content: ''; position: absolute; width: 30px; height: 30px; left: 50%; top: 50%; background: url(../../images/loading@2x.png) no-repeat; background-size: contain; margin-left: -15px; margin-top: -15px;
    -webkit-transform: rotate(360deg);
    -webkit-animation-name: spin;
    -webkit-animation-duration: .6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    transform: rotate(360deg);
    animation-name: spin;
    animation-duration: .6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}




















