@charset "utf-8";
/**
 * Rest style sheet
 * Author: Feil.Wang
 * E-mail: wangfeilong@xuexibao.cn
 * Date Modified: 2015.05.27
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, input, button, select, textarea, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; font-style: normal; vertical-align: baseline; outline: none; -webkit-text-size-adjust: none; }
*, *:before, *:after { box-sizing: border-box; -webkit-box-sizing: border-box; }
article, aside, details, figcaption, figure, footer, header,menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
input::-moz-focus-inner { border: 0; padding: 0; }
input { -webkit-border-radius: 0; border-radius: 0; }
h1 { font-size: 20px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
a { color: #333; text-decoration: none; }
* { -webkit-tap-highlight-color: transparent; }
/*
 * Copyright (C) 2013 salesforce.com, inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

* {
    /* Those probably need to live anywhere else*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.surface {
    position: absolute;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: flat;
    transform-style: flat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    pointer-events: auto;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

.scroller-wrapper {
    position: relative;
    overflow: hidden;
}
.scroller-wrapper.native .scroller {
    position: absolute;
    top:0;
    bottom: 0;
    width:100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.scroller-wrapper .accesibiliy-enabled {
    overflow: auto;
}

.scroller {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

.scroll-vertical .scroller, .scroll-vertical .surface {
    width: 100%;
}
.scroll-horizontal .scroller, .scroll-horizontal .surface {
    height: 100%;
}

.pullToRefresh {
    -webkit-transform : translate3d(0,0,0);
    -moz-transform    : translate3d(0,0,0);
    -ms-transform     : translate3d(0,0,0);
    transform         : translate3d(0,0,0);
    position: absolute;
    width: 100%;
    height: 50px;
    top: -50px;
    text-align: center;
    line-height: 50px;
    overflow:hidden;
}

.pullToLoadMore {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
}

.pullToRefresh > .icon, .pullToLoadMore > .icon {
    display: inline-block;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 5px;

    -webkit-transition : -webkit-transform 300ms;
    -moz-transition    : -moz-transform 300ms;
    -ms-transition     : -ms-transform 300ms;
    transition         : transform 300ms;

    -webkit-transform : translate3d(0,0,0);
    -moz-transform    : translate3d(0,0,0);
    -ms-transform     : translate3d(0,0,0);
    transform         : translate3d(0,0,0);
}
.pullToLoadMore > .icon{
    -webkit-transform : translate3d(0,0,0) rotate(180deg);
    -moz-transform    : translate3d(0,0,0) rotate(180deg);
    -ms-transform     : translate3d(0,0,0) rotate(180deg);
    transform         : translate3d(0,0,0) rotate(180deg);
}
.pullToRefresh.pull  > .icon{
    -webkit-transform : translate3d(0,0,0) rotate(180deg);
    -moz-transform    : translate3d(0,0,0) rotate(180deg);
    -ms-transform     : translate3d(0,0,0) rotate(180deg);
    transform         : translate3d(0,0,0) rotate(180deg);
}
.pullToLoadMore.pull > .icon {
    -webkit-transform : translate3d(0,0,0) rotate(0deg);
    -moz-transform    : translate3d(0,0,0) rotate(0deg);
    -ms-transform     : translate3d(0,0,0) rotate(0deg);
    transform         : translate3d(0,0,0) rotate(0deg);
}

.pullToRefresh.update > .icon, .pullToLoadMore.update > .icon {
    -webkit-animation : spin .6s linear infinite;
    -moz-animation    : spin .6s linear infinite;
    -ms-animation     : spin .6s linear infinite;
    animation         : spin .6s linear infinite;
}

@-webkit-keyframes spin { from { -webkit-transform: rotate(180deg); } to { -webkit-transform: rotate(540deg); } }
@-moz-keyframes spin    { from { -moz-transform: rotate(180deg); }    to { -moz-transform: rotate(540deg); } }
@-ms-keyframes spin     { from { -ms-transform: rotate(180deg); }     to { -ms-transform: rotate(540deg); } }
@keyframes spin         { from { transform: rotate(180deg); }         to { transform: rotate(540deg); } }

.pullToRefresh, .pullToLoadMore { color: #999; }
.pullToRefresh .icon, .pullToLoadMore .icon { width: 24px; height: 24px; vertical-align: middle; margin-bottom: 1px; background: url("../../images/icon-pull@2x.png"); background-size: 100% 100%; }
.pullToRefresh.update > .icon, .pullToLoadMore.update > .icon { background: url("../../images/loading@2x.png"); background-size: 100% 100%; }
.pullToRefresh .label, .pullToLoadMore .label { vertical-align: middle; margin-left: 5px; }
.pullToRefresh .sub, .pullToLoadMore .sub { vertical-align: middle; margin-left: 5px; }
/*! Created by Feil.Wang(wangfeilong@xuexibao.cn) on 2015.08.06 */
body { color: #000; font-size: 14px; font-family: Arial; word-break: break-all; background: url("../../images/activity@3x.png") no-repeat; background-size: 100% auto; }
.clearfix:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { *zoom: 1; }
.clear { clear: both; height: 0; overflow: hidden; }
.hide { display: none; }
.show { display: block; }
.activity-title { position: absolute; font-size: 12px; text-align: center; color: #f27134; font-style: italic; }
.main-container { position: absolute; left: 10px; right: 10px; bottom: 10px; }
.form-area { height: 40px; position: relative; }
.form-control { display: block; margin-right: 90px; height: 40px; }
.form-control input { width: 100%; height: 100%; border: 2px solid #00c698; line-height: 36px; padding: 0 10px; }
.form-control input.input-warning { background-color: #ffd4d4; border-color: #F27134; }
.btn-submit { position: absolute; right: 0; top: 0; height: 40px; width: 80px; background-color: #00c698; color: #fff; font-size: 16px; }
.record-area { position: absolute; top: 46px; left: 0; right: 0; bottom: 0; padding: 10px; background-color: #fff; }
.rec-title { overflow: hidden; font-size: 15px; }
.rec-title span { float: left; color: #00c698; }
.rec-title a { float: right; color: #ff6840; }
.record-main { position: absolute; left: 10px; top: 35px; right: 10px; bottom: 10px; }
.record-list li { color: #00c698; overflow: hidden; padding: 8px 0; }
.record-list li span { float: left; font-size: 12px; }
.record-list li .date { width: 40%; }
.record-list li .phone { width: 32%; text-align: center; }
.record-list li .status { width: 28%; text-align: right; }
.record-list li.waitting .status { color: #b3b3b3; }
.masker-loading { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 999; background-color: #f2f2f2; }
.masker-loading:after { content: ''; position: absolute; width: 30px; height: 30px; left: 50%; top: 50%; background: url(../../images/loading@2x.png) no-repeat; background-size: contain; margin-left: -15px; margin-top: -15px;
    -webkit-transform: rotate(360deg);
    -webkit-animation-name: spin;
    -webkit-animation-duration: .6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    transform: rotate(360deg);
    animation-name: spin;
    animation-duration: .6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}