<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
  <bean id="cronTriggerHandleTop1Mote" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
        <property name="jobDetail">  
            <ref bean="targetTop1MoteScheduleService"/>  
        </property>  
        <property name="cronExpression">  
            <value>0 0/5 * * * ?</value>  
        </property>  
   </bean> 
  
    <bean id="targetTop1MoteScheduleService" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
        <property name="targetObject">  
            <ref bean="scheduleService"/>  
        </property>  
        <property name="targetMethod">  
                <value>handleTop1Mote</value>  
        </property>  
    </bean>
	
   <bean id="cronTriggerHandleCountSeller" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
        <property name="jobDetail">  
            <ref bean="targetCountSellerScheduleService"/>  
        </property>  
        <property name="cronExpression">  
            <value>0 0/5 * * * ?</value>  
        </property>  
   </bean> 
  
    <bean id="targetCountSellerScheduleService" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
        <property name="targetObject">  
            <ref bean="scheduleService"/>  
        </property>  
        <property name="targetMethod">  
                <value>handleCountSeller</value>  
        </property>  
    </bean>
    
    <bean id="cronTriggerHandleCountMote" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
        <property name="jobDetail">  
            <ref bean="targetCountMoteScheduleService"/>  
        </property>  
        <property name="cronExpression">  
            <value>0 0/5 * * * ?</value>  
        </property>  
   </bean> 
  
    <bean id="targetCountMoteScheduleService" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
        <property name="targetObject">  
            <ref bean="scheduleService"/>  
        </property>  
        <property name="targetMethod">  
                <value>handleCountMote</value>  
        </property>  
    </bean>  

   <bean id="cronTriggerHandleMoteTaskTimeOut" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
        <property name="jobDetail">  
            <ref bean="targetScheduleService"/>  
        </property>  
        <property name="cronExpression">  
            <value>0 0/5 * * * ?</value>  
        </property>  
   </bean> 
  
    <bean id="targetScheduleService" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
        <property name="targetObject">  
            <ref bean="scheduleService"/>  
        </property>  
        <property name="targetMethod">  
                <value>handleMoteTaskTimeOut</value>  
        </property>  
    </bean> 
    
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTriggerHandleMoteTaskTimeOut"/> 
                <ref bean="cronTriggerHandleCountSeller"/> 
                <ref bean="cronTriggerHandleCountMote"/> 
                <ref bean="cronTriggerHandleTop1Mote"/> 
            </list>
        </property>
    </bean>

</beans>